enhanced_node_red_flow.json
[
    {
        "id": "motorcycle-dashboard",
        "type": "tab",
        "label": "🏍️ Motorcycle Dashboard",
        "disabled": false,
        "info": "Enhanced motorcycle telemetry dashboard with GPS status indicators"
    },
    {
        "id": "inject-timer",
        "type": "inject",
        "z": "motorcycle-dashboard",
        "name": "Every 2 seconds",
        "props": [{"p": "payload"}],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [["get-latest-data"]]
    },
    {
        "id": "get-latest-data",
        "type": "exec",
        "z": "motorcycle-dashboard",
        "command": "sqlite3 /home/pi/motorcycle_data/telemetry.db \"SELECT ax, ay, az, COALESCE(latitude, 0) as latitude, COALESCE(longitude, 0) as longitude, COALESCE(speed_mph, 0) as speed_mph, COALESCE(gps_fix, 0) as gps_fix, timestamp FROM telemetry_data ORDER BY timestamp DESC LIMIT 1\" -json",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Query SQLite with GPS",
        "x": 380,
        "y": 100,
        "wires": [["parse-json"], ["debug-error"], ["debug-error"]]
    },
    {
        "id": "parse-json",
        "type": "function",
        "z": "motorcycle-dashboard",
        "name": "Parse JSON Result",
        "func": "try {\n    if (msg.payload && typeof msg.payload === 'string' && msg.payload.trim()) {\n        const jsonData = JSON.parse(msg.payload.trim());\n        if (jsonData && Array.isArray(jsonData) && jsonData.length > 0) {\n            msg.payload = jsonData;\n            return msg;\n        }\n    }\n} catch (e) {\n    node.warn(\"JSON Parse Error: \" + e.message + \" | Payload: '\" + msg.payload + \"'\");\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 100,
        "wires": [["process-data"]]
    },
    {
        "id": "debug-error",
        "type": "debug",
        "z": "motorcycle-dashboard",
        "name": "SQLite Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 160,
        "wires": []
    },
    {
        "id": "process-data",
        "type": "function",
        "z": "motorcycle-dashboard",
        "name": "Calculate G-Forces & GPS",
        "func": "if (msg.payload && msg.payload.length > 0) {\n    const data = msg.payload[0];\n    \n    // Calibration constants\n    const X_OFFSET = 6200;\n    const Y_OFFSET = 100;\n    const Z_OFFSET = 15400;\n    const SCALE = 16384;\n    \n    // Calculate G-forces\n    const forwardG = (data.ax - X_OFFSET) / SCALE;\n    const lateralG = (data.ay - Y_OFFSET) / SCALE;\n    const verticalG = (data.az - Z_OFFSET) / SCALE;\n    \n    // Calculate lean angle in degrees\n    const leanAngle = Math.asin(Math.max(-1, Math.min(1, lateralG))) * 57.3;\n    \n    // Enhanced GPS status detection\n    const hasValidGPS = (data.latitude !== 0 || data.longitude !== 0) && data.gps_fix;\n    const lat = hasValidGPS ? parseFloat(data.latitude) : 51.5074; // London default\n    const lon = hasValidGPS ? parseFloat(data.longitude) : -0.1278;\n    \n    // Time since last update\n    const lastUpdate = new Date(data.timestamp).toLocaleTimeString();\n    \n    // Create separate messages for each component\n    const messages = [\n        { topic: 'lean_angle', payload: parseFloat(leanAngle.toFixed(1)) },\n        { topic: 'forward_g', payload: parseFloat(forwardG.toFixed(3)) },\n        { topic: 'lateral_g', payload: parseFloat(lateralG.toFixed(3)) },\n        { topic: 'speed', payload: parseFloat(data.speed_mph || 0) },\n        { \n            topic: 'gps_map', \n            payload: {\n                lat: lat,\n                lon: lon,\n                name: hasValidGPS ? 'Motorcycle Location' : 'No GPS Signal',\n                icon: hasValidGPS ? 'motorcycle' : 'question-circle',\n                iconColor: hasValidGPS ? 'blue' : 'red',\n                popup: hasValidGPS ? `GPS Lock: ${lat.toFixed(6)}, ${lon.toFixed(6)}` : 'Waiting for GPS fix...'\n            }\n        },\n        {\n            topic: 'gps_status',\n            payload: {\n                hasGPS: hasValidGPS,\n                latitude: data.latitude,\n                longitude: data.longitude,\n                gps_fix: data.gps_fix,\n                speed: data.speed_mph || 0,\n                lastUpdate: lastUpdate\n            }\n        },\n        {\n            topic: 'system_status',\n            payload: {\n                recordCount: context.get('counter') || 0,\n                lastUpdate: lastUpdate,\n                dataAge: Math.round((Date.now() - new Date(data.timestamp).getTime()) / 1000)\n            }\n        }\n    ];\n    \n    // Increment counter\n    const count = (context.get('counter') || 0) + 1;\n    context.set('counter', count);\n    messages[6].payload.recordCount = count;\n    \n    return messages;\n}\nreturn null;",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 100,
        "wires": [
            ["lean-gauge"],
            ["forward-g-gauge"], 
            ["lateral-g-gauge"],
            ["speed-gauge"],
            ["gps-map"],
            ["gps-status-display"],
            ["system-status-display"]
        ]
    },
    {
        "id": "lean-gauge",
        "type": "ui_gauge",
        "z": "motorcycle-dashboard",
        "name": "Lean Angle",
        "group": "gauges",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "🏍️ Lean Angle",
        "label": "degrees",
        "format": "{{value}}°",
        "min": -60,
        "max": 60,
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": 30,
        "seg2": 45,
        "x": 1020,
        "y": 40,
        "wires": []
    },
    {
        "id": "forward-g-gauge",
        "type": "ui_gauge",
        "z": "motorcycle-dashboard",
        "name": "Forward G-Force",
        "group": "gauges",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "⚡ Forward G",
        "label": "G",
        "format": "{{value}}g",
        "min": -1.5,
        "max": 1.5,
        "colors": ["#ca3838","#e6e600","#00b500"],
        "seg1": 0.5,
        "seg2": 1.0,
        "x": 1020,
        "y": 80,
        "wires": []
    },
    {
        "id": "lateral-g-gauge",
        "type": "ui_gauge",
        "z": "motorcycle-dashboard",
        "name": "Lateral G-Force",
        "group": "gauges",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "🌀 Lateral G",
        "label": "G",
        "format": "{{value}}g",
        "min": -1.2,
        "max": 1.2,
        "colors": ["#ca3838","#e6e600","#00b500"],
        "seg1": 0.4,
        "seg2": 0.8,
        "x": 1020,
        "y": 120,
        "wires": []
    },
    {
        "id": "speed-gauge",
        "type": "ui_gauge",
        "z": "motorcycle-dashboard",
        "name": "Speed",
        "group": "performance",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "🚀 Speed",
        "label": "mph",
        "format": "{{value}} mph",
        "min": 0,
        "max": 120,
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": 45,
        "seg2": 70,
        "x": 1020,
        "y": 160,
        "wires": []
    },
    {
        "id": "gps-map",
        "type": "worldmap",
        "z": "motorcycle-dashboard",
        "name": "GPS Location",
        "lat": "51.5074",
        "lon": "-0.1278",
        "zoom": "15",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "deg",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN",
        "maplist": "OSM,Esri,Nat,OPR",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1020,
        "y": 200,
        "wires": []
    },
    {
        "id": "gps-status-display",
        "type": "ui_template",
        "z": "motorcycle-dashboard",
        "group": "gps-info",
        "name": "GPS Status Panel",
        "order": 1,
        "width": 12,
        "height": 3,
        "format": "<div style=\"padding: 10px; border-radius: 5px; background: {{msg.payload.hasGPS ? '#e8f5e8' : '#ffe6e6'}}; border: 2px solid {{msg.payload.hasGPS ? '#4caf50' : '#f44336'}};\">\n  <h3 style=\"margin: 0 0 10px 0; color: {{msg.payload.hasGPS ? '#2e7d32' : '#c62828'}};\">\n    {{msg.payload.hasGPS ? '🛰️ GPS ACTIVE' : '❌ GPS NOT AVAILABLE'}}\n  </h3>\n  \n  <div style=\"display: flex; justify-content: space-between; flex-wrap: wrap;\">\n    <div style=\"flex: 1; min-width: 200px; margin-right: 10px;\">\n      <strong>Status:</strong> {{msg.payload.hasGPS ? 'GPS Lock Acquired' : 'Searching for satellites...'}}<br>\n      <strong>Fix Type:</strong> {{msg.payload.gps_fix ? '3D Fix' : 'No Fix'}}<br>\n      <strong>Speed:</strong> {{msg.payload.speed}} mph\n    </div>\n    \n    <div style=\"flex: 1; min-width: 200px;\">\n      <strong>Latitude:</strong> {{msg.payload.hasGPS ? msg.payload.latitude.toFixed(6) : 'N/A'}}<br>\n      <strong>Longitude:</strong> {{msg.payload.hasGPS ? msg.payload.longitude.toFixed(6) : 'N/A'}}<br>\n      <strong>Last Update:</strong> {{msg.payload.lastUpdate}}\n    </div>\n  </div>\n  \n  <div style=\"margin-top: 10px; font-size: 12px; color: #666;\">\n    {{msg.payload.hasGPS ? 'Map will show your actual location' : 'Map showing default location until GPS fix acquired'}}\n  </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1020,
        "y": 240,
        "wires": [[]]
    },
    {
        "id": "system-status-display",
        "type": "ui_template",
        "z": "motorcycle-dashboard",
        "group": "system-status",
        "name": "System Status Panel",
        "order": 1,
        "width": 12,
        "height": 2,
        "format": "<div style=\"padding: 8px; background: #f0f0f0; border-radius: 5px; border-left: 4px solid #2196f3;\">\n  <div style=\"display: flex; justify-content: space-between; align-items: center;\">\n    <div>\n      <strong>🛠️ System Status:</strong> \n      <span style=\"color: #4caf50;\">✅ Active</span>\n    </div>\n    <div>\n      <strong>📊 Data Records:</strong> {{msg.payload.recordCount}}\n    </div>\n    <div>\n      <strong>⏱️ Last Update:</strong> {{msg.payload.lastUpdate}}\n    </div>\n    <div>\n      <strong>📡 Data Age:</strong> {{msg.payload.dataAge}}s\n    </div>\n  </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1020,
        "y": 280,
        "wires": [[]]
    },
    {
        "id": "gauges",
        "type": "ui_group",
        "name": "G-Force & Lean Angle",
        "tab": "dashboard-tab",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "performance",
        "type": "ui_group",
        "name": "Performance & Speed",
        "tab": "dashboard-tab",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "gps-info",
        "type": "ui_group",
        "name": "GPS Status & Location",
        "tab": "dashboard-tab",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "system-status",
        "type": "ui_group",
        "name": "System Information",
        "tab": "dashboard-tab",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "dashboard-tab",
        "type": "ui_tab",
        "name": "🏍️ Motorcycle Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
] 