node_red_flow.json
[
    {
        "id": "motorcycle-dashboard",
        "type": "tab",
        "label": "🏍️ Motorcycle Dashboard",
        "disabled": false,
        "info": "Real-time motorcycle telemetry dashboard reading from SQLite"
    },
    {
        "id": "inject-timer",
        "type": "inject",
        "z": "motorcycle-dashboard",
        "name": "Every 2 seconds",
        "props": [{"p": "payload"}],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [["get-latest-data"]]
    },
    {
        "id": "get-latest-data",
        "type": "sqlite",
        "z": "motorcycle-dashboard", 
        "mydb": "motorcycle-db",
        "sqlquery": "msg.topic",
        "sql": "SELECT ax, ay, az, latitude, longitude, speed_mph, timestamp FROM telemetry_data ORDER BY timestamp DESC LIMIT 1",
        "name": "Get Latest Telemetry",
        "x": 350,
        "y": 100,
        "wires": [["process-data"]]
    },
    {
        "id": "process-data",
        "type": "function",
        "z": "motorcycle-dashboard",
        "name": "Calculate G-Forces & Lean",
        "func": "if (msg.payload && msg.payload.length > 0) {\n    const data = msg.payload[0];\n    \n    // Calibration constants\n    const X_OFFSET = 6200;\n    const Y_OFFSET = 100;\n    const Z_OFFSET = 15400;\n    const SCALE = 16384;\n    \n    // Calculate G-forces\n    const forwardG = (data.ax - X_OFFSET) / SCALE;\n    const lateralG = (data.ay - Y_OFFSET) / SCALE;\n    const verticalG = (data.az - Z_OFFSET) / SCALE;\n    \n    // Calculate lean angle in degrees\n    const leanAngle = Math.asin(Math.max(-1, Math.min(1, lateralG))) * 57.3;\n    \n    // Create separate messages for each gauge\n    const messages = [\n        { topic: 'lean_angle', payload: leanAngle.toFixed(1) },\n        { topic: 'forward_g', payload: forwardG.toFixed(3) },\n        { topic: 'lateral_g', payload: lateralG.toFixed(3) },\n        { topic: 'speed', payload: data.speed_mph || 0 },\n        { topic: 'gps', payload: {\n            lat: data.latitude || 0,\n            lon: data.longitude || 0,\n            name: 'Motorcycle'\n        }}\n    ];\n    \n    return messages;\n}\nreturn null;",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 100,
        "wires": [
            ["lean-gauge"],
            ["forward-g-gauge"], 
            ["lateral-g-gauge"],
            ["speed-gauge"],
            ["gps-map"]
        ]
    },
    {
        "id": "lean-gauge",
        "type": "ui_gauge",
        "z": "motorcycle-dashboard",
        "name": "Lean Angle",
        "group": "gauges",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "🏍️ Lean Angle",
        "label": "degrees",
        "format": "{{value}}°",
        "min": -60,
        "max": 60,
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": 30,
        "seg2": 45,
        "x": 780,
        "y": 60,
        "wires": []
    },
    {
        "id": "forward-g-gauge",
        "type": "ui_gauge",
        "z": "motorcycle-dashboard",
        "name": "Forward G-Force",
        "group": "gauges",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "⚡ Forward G",
        "label": "G",
        "format": "{{value}}g",
        "min": -1.5,
        "max": 1.5,
        "colors": ["#ca3838","#e6e600","#00b500"],
        "seg1": 0.5,
        "seg2": 1.0,
        "x": 790,
        "y": 100,
        "wires": []
    },
    {
        "id": "lateral-g-gauge",
        "type": "ui_gauge",
        "z": "motorcycle-dashboard",
        "name": "Lateral G-Force",
        "group": "gauges",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "🌀 Lateral G",
        "label": "G",
        "format": "{{value}}g",
        "min": -1.2,
        "max": 1.2,
        "colors": ["#ca3838","#e6e600","#00b500"],
        "seg1": 0.4,
        "seg2": 0.8,
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "speed-gauge",
        "type": "ui_gauge",
        "z": "motorcycle-dashboard",
        "name": "Speed",
        "group": "performance",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "🚀 Speed",
        "label": "mph",
        "format": "{{value}} mph",
        "min": 0,
        "max": 120,
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": 45,
        "seg2": 70,
        "x": 780,
        "y": 200,
        "wires": []
    },
    {
        "id": "gps-map",
        "type": "worldmap",
        "z": "motorcycle-dashboard",
        "name": "GPS Location",
        "lat": "",
        "lon": "",
        "zoom": "15",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSM,Esri,Nat,OPR",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 780,
        "y": 260,
        "wires": []
    },
    {
        "id": "motorcycle-db",
        "type": "sqlitedb",
        "db": "/home/pi/motorcycle_data/telemetry.db",
        "mode": "RO"
    },
    {
        "id": "gauges",
        "type": "ui_group",
        "name": "G-Force & Lean",
        "tab": "dashboard-tab",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "performance",
        "type": "ui_group",
        "name": "Performance",
        "tab": "dashboard-tab",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "dashboard-tab",
        "type": "ui_tab",
        "name": "🏍️ Motorcycle Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
] 